body{
 transition: all 0.5s ease-in-out; 
}
.quotewrapper{
  margin-top:4.5cm;
}
.share{
  margin-top:3cm;
  
}
a.credits{
	text-decoration:none;
	color : #fff;
	
}
a.credits:hover{
	font-weight: bold;
}
.credits{
  background-color: rgb(0,0,0);
  margin-top:3cm;
}
.fa-chevron-right{
  font-size:3em!important;
  transition: all 0.5s ease-in-out;
}
.fb{font-size:3em!important;
  transition: all 0.5s ease-in-out;}
.tweet{font-size:3em!important;
  transition: all 0.5s ease-in-out;}
.fa-chevron-right:hover{
  transform: scale(1.2);
}
.mid{
  margin-top : auto !important;
}
#quoteid{
  font-family: 'Love Ya Like A Sister', cursive;
  font-size:2em;
}
#author{
  font-family: 'Inconsolata', monospace;
  font-size:25px;
}